node_modules
.*
!.gitignore
!.eslintrc.cjs
!.prettierrc
!.stylelintrc.json
!.editorconfig
!.github
!.github/**/*
backup
backup/**/*
coverage
coverage/**/*
logs
logs/**/*
scripts
scripts/**/*
references
references/**/*
programming_learning_examples
programming_learning_examples/**/*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production