<div class="node-page h-full flex flex-col">
  <section class="journal-page-content flex-1 min-h-0">
    <section class="node-editor-shell h-full flex flex-col">
      <div id="svelte-mount-point" class="flex-1 min-h-0"></div>
    </section>
  </section>
</div>
